<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" href="../public/post.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/358a319a89.js" crossorigin="anonymous"></script>
    <script src="../public/js/topButton.js"></script>
    <title>Inemaps</title>
</head>

<body>
    <header class="container-nav">
        <a href="/"><button id="nav-btn">Inicio</button></a>
        <nav>
            <ul class="container-links">
                <li><a href="/bloques">Bloques</a></li>

                <% if(req.isAuthenticated()) { %>
                    <li><a href="/posts">Publicaciones</a></li>
                    <% } %>

                        <% if(!req.isAuthenticated()) { %>
                            <li><a href="/users/login">Log in</a> </li>
                            <% } %>

                                <% if(req.isAuthenticated()) { %>
                                    <li>
                                        <a href="">Perfil</a>
                                        <ul class="menu-vertical">
                                            <li><br>¡Bienvenido!</li>
                                            <li><a href="/users/dashboard">Ver mi perfil</a></li>
                                            <li><a href="/users/logout">Cerrar sesion</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
            </ul>
        </nav>
        <a class="container-logo" href="/"><img id="nav-logo" src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png"
                alt="Inemaps Logo"></a>
    </header>

    <main>
        <div class="main-background minimum-sizes all">
            <div class="all-content">
                <div class="goBackBtn">
                    <a href="/posts"><button>Volver</button></a>
                </div>
                <div class="post">
                    <p>Post N°<%= results.rows[0].idpost %>
                    </p>
                    <div class="post-header">
                        <h2 class="main-title">
                            <%= results.rows[0].titlepost%>
                        </h2>
                        <p>
                            <%= format(results.rows[0].fechapublicacion) %>
                        </p>
                    </div>
                    <div class="post-content">
                        <% for(var k = 0; k < resUsers.rowCount; k++ ) { %>
                            <% if( resUsers.rows[k].id == results.rows[0].codigoestudiante ) {%>
                                    <p>
                                        <strong>
                                            <%= resUsers.rows[k].name %>
                                        </strong>
                                    </p>
                            <% } %>
                        <% } %>
                        <p>
                            <%= results.rows[0].descripcion%>
                        </p>
                        <% for(var j=0; j < resul.rowCount; j++) {%>
                            <% if(results.rows[0].idcategoria==resul.rows[j].idcategoria) {%>
                                <p>
                                    <%= resul.rows[j].descripcion %>
                                </p>
                                <%}%>
                                    <%}%>
                    </div>
                </div>
            </div>
            <div class="container-comentarios-form">
                <div class="comentarios-form">
                    <form action="/posts/<%- req.params.id %> " method="POST">
                        <textarea class="dark" type="text" name="description" placeholder="Escribe algo..."
                            required></textarea>
                        <!-- <input type="text" class="dark" name="description" placeholder="Comment"> -->
                        <div id="commentBtn">
                            <button type="submit">Comentar</button>
                        </div>
                        <!-- <input type="submit" value="Submit"> -->
                    </form>
                </div>
            </div>
            <div class="comentarios">
                <h4 class="main-title">
                    Comentarios
                </h4>
                <% if(resu==0) {%>
                    <p>Aún no hay comentarios, ¿quieres ser el primero?</p>
                <% } else { %>
                    <% for(var i=0; i < resu.rowCount; i++) { %>
                        <div class="comentario">
                            <!-- <p> idcomentario = <%= resu.rows[i].idcomentario %></p> -->
                            <p>
                                <strong>
                                    <% for(var k = 0; k < resUsers.rowCount; k++ ) { %>
                                        <% if( resUsers.rows[k].id == resu.rows[i].codigoestudiante ) {%>
                                                <p>
                                                    <strong>
                                                        <%= resUsers.rows[k].name %>
                                                    </strong>
                                                </p>
                                        <% } %>
                                    <% } %>
                                </strong>
                            </p>
                            <br>
                            <p><%= resu.rows[i].descripcion %></p>
                            <!-- <p> idpost = <%= resu.rows[i].idpost %></p> -->
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </main>
    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>
    <a href="#top">
        <div class="go-top-button">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </a>
</body>

</html>