<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/posts.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/358a319a89.js" crossorigin="anonymous"></script>
    <script src="../public/js/topButton.js"></script>
    <title>Inemaps</title>
</head>

<body>
    <header class="container-nav">
        <a href="/"><button id="nav-btn">Home</button></a>
        <nav>
            <ul class="container-links">
                <li><a href="/bloques">Blocks</a></li>
                
                <% if(req.isAuthenticated()) { %>
                    <li><a href="/posts">Publications</a></li>
                <% } %>

                <% if(!req.isAuthenticated()) { %>
                    <li><a href="/users/login">Log in</a> </li>
                <% } %>
                
                <% if(req.isAuthenticated()) { %>
                    <li>
                        <a href="">Profile</a>
                        <ul class="menu-vertical">
                            <li><br>Welcome!</li>
                            <li><a href="/users/dashboard">View my profile</a></li>
                            <li><a href="/users/logout">Log out</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </nav>
        <a class="container-logo" href="/"><img id="nav-logo"
                src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png" alt="Inemaps Logo"></a>
    </header>

    <main>
        <div class="main-background minimum-sizes all">
            <div class="posts-description">
                <h1 class="main-title">
                    Welcome to the posts section
                </h1>
                <ul>
                    <% if(messages.succes_msg) {%>
                        <li>
                            - <%= messages.succes_msg%> -
                        </li>
                        <% } %>
                </ul>
            </div>
            <div id="newPostBtn">
                <a href="/crear/post"><button>Make a new post</button></a>
            </div>
            <div class="posts">
                <% for(var i=0; i < results.rowCount; i++) {%>
                    <div class="post hide-category">
                        <div class="categoria hide-category">
                            <% for(var j=0; j < resu.rowCount; j++) {%>
                                <% if(results.rows[i].idcategoria==resu.rows[j].idcategoria) {%>
                                    <p>
                                        <strong>
                                            <%= resu.rows[j].descripcion %>
                                        </strong>
                                    </p>
                                <%}%>
                            <%}%>
                        </div>
                        <h3 class="main-title">
                            <p>
                                <%= results.rows[i].titlepost %>
                            </p>
                        </h3>
                        <div class="post-content">
                            <% for(var k=0; k < resul.rowCount; k++) {%>
                                <% if(results.rows[i].codigoestudiante == resul.rows[k].id) {%>
                                    <p>
                                        <strong>
                                            <%= resul.rows[k].name %>
                                        </strong>
                                    </p>
                                <%}%>
                            <%}%>
                            <p>
                                <%= results.rows[i].descripcion %>
                            </p>
                            <p>
                                <%= format(results.rows[i].fechapublicacion) %>
                            </p>
                            <a href="/posts/<%- results.rows[i].idpost %> "><span>View post</span></a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </main>

    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>


    <a href="#top">
        <div class="go-top-button">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </a>
    <script src="../public/js/bloques.js"></script>
</body>

</html>