<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.postimg.cc/j5wK5dpr/unnamed.png%22%3E" type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" type="text/css" href="../public/posts.css">
    <title>Inemaps</title>
</head>

<body>
    <header class="container-nav">
        <a class="container-logo" href="/"><img id="nav-logo" src="https://i.postimg.cc/MHRb3QWv/inemaps-nav-logo2.png"
                alt="Inemaps Logo"></a>
        <nav>
            <ul class="container-links">
                <% if(!req.isAuthenticated()) { %>
                    <li><a href="/users/login">Log in</a> </li>
                    <% } %>
                        <% if(req.isAuthenticated()) { %>
                            <li><a href="/posts">Publications</a></li>
                            <% } %>
                                <li><a href="/bloques">Blocks</a></li>
                                <% if(req.isAuthenticated()) { %>
                                    <li>
                                        <a href="#">Profile</a>
                                        <ul class="menu-vertical">
                                            <li><br>Welcome!</li>
                                            <li><a href="/users/dashboard">View my profile</a></li>
                                            <li><a href="/users/logout">Log out</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
            </ul>
        </nav>
        <a href="/"><button id="nav-btn">Home</button></a>
    </header>

    <main>
        <div class="main-background bruh">
            <div class="posts-description">
                <h1 class="main-title">
                    Welcome to the posts section
                </h1>
                <ul>
                    <% if(messages.succes_msg) {%>
                        <li>
                            <%= messages.succes_msg%>
                        </li>
                        <% } %>
                </ul>
            </div>

            <div id="newPostBtn">
                <button><a href="/crear/post">Make a new post</a></button>
            </div>
            <div class="posts">

                <% for(var i=0; i < results.rowCount; i++) {%>
                    <div class="post">
                        <h3 class="main-title">
                            <p>
                                <%= results.rows[i].descripcion %>
                            </p>
                        </h3>
                        <div class="post-content">
                            <p>
                                Post N°<%= results.rows[i].idpost %>
                            </p>
                            <p>
                                Created: <%= results.rows[i].fechapublicacion %>
                            </p>
                            <% for(var j=0; j < resu.rowCount; j++) {%>
                                <% if(results.rows[i].idcategoria==resu.rows[j].idcategoria) {%>
                                    <p>
                                        Category: <strong>
                                            <%= resu.rows[j].descripcion %> - <%= results.rows[i].idcategoria %>
                                        </strong>
                                    </p>
                                    <%}%>
                                        <%}%>

                                            <p>
                                                ID Author: <%= results.rows[i].codigoestudiante %>
                                            </p>

                                            <a href="/posts/<%- results.rows[i].idpost %> "><span>View post</span></a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </main>

    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>
</body>

</html>